<div>
    <div>
        <form action="/curso">
            <div class="form-group">
                <label for="identificacao">Identificação</label>
                <input type="text" name="identificacao" id="identificacao" class="form-control">
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select name="selectTipo" id="selectTipo" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="dados">Coordenador</label>
                <select name="selectCoordenador" id="selectCoordenador" class="form-control"></select>
            </div>
            <input type="submit" value="Enviar" id="btnEnviar" class="btn btn-primary">
        </form>
    </div>
    <hr>
</div>